<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.details.each do |attribute, details| %>
      <% next if attribute == :base %>
      <% if details.any? { |d| d[:error] == :blank } %>
        <li class='error-message'><%= model.class.human_attribute_name(attribute) %> を入力してください</li>
      <% else %>
        <% msg = model.errors.full_messages_for(attribute).first %>
        <% if msg.present? %>
          <li class='error-message'><%= msg %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>